@use 'sass:math';

@import './_mixin';

html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-m);
  color: var(--light-100);

  background-color: var(--dark-900);
}

[class*='__container'] {
  @include adaptive-value('padding-left', 50, 25, 767, 375, 1);
  @include adaptive-value('padding-right', 50, 25, 767, 375, 1);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > main {
    flex: 1 1 auto;
  }

  > * {
    min-width: 0;
  }
}

[data-fullscreen] {
  min-height: 100vh;

  .touch & {
    min-height: calc(var(--vh, 1vh) * 100);

    @media (width <= 500px) {
      transition: height 0.2s;
    }
  }
}

[class*='__container'] {
  max-width: rem($maxWidthContainer);
  width: 100%;
  margin: 0 auto;
}

.header__text {
  @include adaptive-value('font-size', 40, 16, 1439, 768, 1);
  line-height: 120%;
}



