.primary {
  padding: 6px 28px;

  color: var(--light-100, #fff);

  background: var(--primary-500, #8c61ff);
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}

.secondary {
  padding: 6px 28px;

  background: var(--dark-300, #4c4c4c);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
}

.tertiary {
  padding: 8px 28px;

  color: var(--accent-500, #8c61ff);

  background: transparent;
  border: 1px solid var(--primary-500, #8c61ff);
  border-radius: 4px;
}

.link {
  padding: 6px 0;
  color: var(--accent-500, #8c61ff);
  background: transparent;
  border: none;
}

.fullWidth {
  width: 100%;
  padding: 6px 28px;

  color: var(--light-100, #fff);

  background: var(--primary-500, #8c61ff);
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}
